<nav class="navbar navbar-expand-lg header-section">
  <div class="logo-menu px-2">
    <a href="index.html" class="logo">
        <img src="https://pixner.net/sportsodds/sportsbet/assets/img/logo/logo.png" alt="logo">
    </a>
  </div>
</nav>
<div class="row rowma">
  <div class="col-sm-11 marAuto">
    <div class="card cardOther">
      <div class="card-header">
        <mat-icon class="icoColor">sports_soccer</mat-icon>
        <h5 class="card-title cardTitle">Football</h5>
      </div>
      <div class="card-body main__table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><p>Home Team</p></th>
              <th scope="col"><p>Home Score</p></th>
              <th scope="col"><p>Away Team</p></th>
              <th scope="col"><p>Away Score</p></th>
              <th scope="col"><p>Home</p></th>
              <th scope="col"><p>Draw</p></th>
              <th scope="col"><p>Away</p></th>
            </tr>
          </thead>
          <tbody>
            <tr class="tabrow" *ngFor="let sport of allSportingEvent">
              <td>
                <div class="block">
                  <p class="ptag">{{sport.homeTeam}}</p>
                </div>
              </td>
              <td>
                <div class="block">
                  <p class="ptag">{{sport.homeScore}}</p>
                </div>
              </td>
              <td>
                <div class="block">
                  <p class="ptag">{{sport.awayTeam}}</p>
                </div>
              </td>
              <td>
                <div class="block">
                  <p class="ptag">{{sport.awayScore}}</p>
                </div>
              </td>
              <td>
                <div class="mart__point__items">
                  <a href="#0box" class="point__box">
                    {{sport.marketData.home}}
                  </a>
                </div>
              </td>
              <td>
                <div class="mart__point__items">
                  <a href="#0box" class="point__box">
                    {{sport.marketData.draw}}
                  </a>
                </div>
              </td>
              <td>
                <div class="mart__point__items">
                  <a href="#0box" class="point__box">
                    {{sport.marketData.away}}
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

